body {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  background-image: linear-gradient(to top, #b5d3fd 0%, #fff 100%);
}

h1 {
  color: #1a64d6;
  margin-top: 5%;
  font-size: 45px;
}

#currentWeatherMessage {
  color: #1a64d6;
  font-size: 34px;
  line-height: 48px;
  margin: 0;
}

h2 {
  margin-bottom: 2%;
  font-size: 34px;
  line-height: 48px;
  font-weight: 400;
}

p {
  font-size: 25px;
  opacity: 0.7;
  text-align: center;
  /* font-family: monospace; */
  padding: 10px 0;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
  max-width: 400px;
  margin: 0 auto;
}

p:hover {
  background: #fffbef;
}

input {
  height: 4%;
  width: 18%;
  border-color: #1a64d6;
  border-radius: 20px;
}

input:focus {
  outline: none;
}

button {
  /* display: block; */
  margin: 20px auto;
  border: 1px solid #1a64d6;
  background: #1a64d6;
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  padding: 5px 23px;
  border-radius: 30px;
  transition: all 200ms ease;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
  cursor: pointer;
}
button:hover {
  background: white;
  color: #1a64d6;
  border: 1px solid #1a64d6;
}

button:focus {
  outline: none;
}

#weatherDisplayDiv {
  margin-top: 3%;
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  h1 {
    font-size: 35px;
  }

  button {
    font-size: 20px;
  }

  input {
    height: 5%;
    width: 29%;
    font-size: 15px;
  }
}
